main section{
    margin: 20px;
    padding: 20px;
}

main section article {
    margin: 60px 0;
    padding: 50px;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

main section article h2 {
    padding: 50px 0;
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color-2);
    font-family: var(--titulo-principal-font);
}

main section article p{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    transition: transform 0.5s ease;

    i{
        color: var(--primary-color-2);
    }
}

main section article p:hover{
    transform: scale(1.005);
    cursor: copy;
}



@media (max-width:450px){
    
    main section article {
        margin: 10px 0;
    }

    main section article h2{
        font-size: 1.5rem;
    }

    main section article p{
        margin: 15px 2px;
        padding: 5px;
        font-size: 1rem;
    }

    main section article p:first-of-type{
        text-align: center;
        margin-left: -15px;
    }
}
