
main section {
    width: 50%;
    margin: 60px auto;
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

main section h2 {
    margin: 40px 10px;
    text-align: center;
    color: var(--primary-color-2);
    font-size: 2rem;
    font-family: var(--titulo-principal-font);
}

main section form {
    text-align: center;
    margin: 15px auto;
    width: 80%;
    display: flex;
    flex-direction: column;

    select {
        text-align: center;
    }
}

main section form label {
    color: var(--primary-color-2);
    font-size: 1rem;
}

main section form input, select, textarea {
    width: 70%;
    max-width: 100%;
    height: 2rem;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

main section form input, select, textarea{
    border: 1px solid var(--border-secondary-color);
}

main section form input:hover,
select:hover {
    box-shadow: var(--shadow);
}

main section form input:focus{
    outline: none;
}

main section form select {
    width: 50%;
}

main section form input#submit {
    font-size: 1rem;
    width: 20%;
    border-radius: 50px;
    margin: 30px auto;
    background-color: var(--primary-color-2);
    color: var(--secondary-color);
    transition: transform 0.2s ease;
}

main section form input#submit:hover{
    transform: scale(1.1);
}

@media (max-width: 800px){

    main section {
        width: 80%;
    }
}


@media (max-width: 450px) {

    main section {
        width: 95%;
    }

    main section h2 {
        font-size: 1.8rem;
    }

    main section form input#submit {
        width: 50%;

    }

    main section form input, select{
        width: 90%;
    }
}